<h1>Eat Da Burger</h1>

<h2>Select a burger to eat!</h2>

<ul>
  {{#each burgers}}
  {{/each}}
</ul>
<img id = "burgerImg" src="/assets/img/burger.jpeg"/>
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bname">Burger Name:</label>
    <input type="text" id="bname" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
